[package]
name = "twenty-first"
version = "0.1.4"
authors = ["Triton Software AG"]
edition = "2021"

license = "GPL-2.0"
description = "Collection of mathematics routines and cryptography for the twenty-first century."
homepage = "https://github.com/Neptune-Crypto/twenty-first"
documentation = "https://github.com/Neptune-Crypto/twenty-first"
repository = "https://github.com/Neptune-Crypto/twenty-first"
readme = "../README.md"

keywords = ["polynomial", "merkle-tree", "post-quantum", "algebra", "rescue-prime"]
categories = ["cryptography", "mathematics"]

[dev-dependencies]
proptest = "1.0"

[dev-dependencies.criterion]
version = "0.3"
features = ["html_reports"]

[dev-dependencies.cargo-husky]
version = "1"
default-features = false
features = ["precommit-hook", "run-cargo-clippy", "run-cargo-fmt"]

[dependencies]
anyhow = "1.0"
bincode = "1.3"
blake3 = "1.2"
byteorder = "1.4"
console = "0"
colored = "2.0"
hashbrown = "0.12"
itertools = "0.10"
nom = "7.1"
num-bigint = { version = "0.4", features = ["serde"] }
num-traits = "0.2"
parity-scale-codec = "3"
paw = "1.0"
phf = { version = "0.10", features = ["macros"] }
primitive-types = { version = "0.11", features = ["serde"] }
rand = "0.8"
rand_chacha = "0"
rand_core = "0"
rand_distr = "0.4"
rand_pcg = "0.3"
rayon = "1.5"
ring = "0.16"
rusty-leveldb = "1"
serde = { version = "1.0", features = ["derive"] }
serde-big-array = "0"
serde_derive = "1"
serde_json = "1.0"
serde_with = "1"
structopt = { version = "0.3", features = ["paw"] }

[[bench]]
name = "polynomial_square"
harness = false

[[bench]]
name = "rescue_prime_xlix"
harness = false

[[bench]]
name = "rescue_prime_regular"
harness = false

[[bench]]
name = "stark_bf"
harness = false

[[bench]]
name = "ntt_forward"
harness = false

[[bench]]
name = "lagrange_interpolation"
harness = false

# [[bench]]
# name = "rpsss_bench_sign"
# harness = false

# [[bench]]
# name = "rpsss_bench_verify"
# harness = false

[[bench]]
name = "rescue_prime_air_constraints"
harness = false

[[bench]]
name = "stark_rp"
harness = false

[[bench]]
name = "inverse"
harness = false
