[package]
name = "twenty-first"
version = "0.34.0"
authors = ["Triton Software AG"]
edition = "2021"

license = "GPL-2.0"
description = "Collection of mathematics routines and cryptography for the twenty-first century."
homepage = "https://github.com/Neptune-Crypto/twenty-first"
documentation = "https://github.com/Neptune-Crypto/twenty-first"
repository = "https://github.com/Neptune-Crypto/twenty-first"
readme = "../README.md"

keywords = ["polynomial", "merkle-tree", "post-quantum", "algebra", "tip5"]
categories = ["cryptography", "mathematics"]

[dev-dependencies]
criterion = { version = "0.5", features = ["html_reports"] }
pretty_assertions = "1.4"
proptest = "1.4"
proptest-arbitrary-interop = "0.1"
test-strategy = "0.3"
trybuild = "1.0"

[dev-dependencies.cargo-husky]
version = "1"
default-features = false
features = ["precommit-hook", "run-cargo-clippy", "run-cargo-fmt"]

[dependencies]
anyhow = "1.0"
arbitrary = { version = "1", features = ["derive"] }
bincode = "1.3"
bfieldcodec_derive = "0.5.2"
blake3 = "1.5.0"
colored = "2.0"
hashbrown = "0.14"
itertools = "0.12"
num-bigint = { version = "0.4", features = ["serde"] }
num-traits = "0.2"
phf = { version = "0.11", features = ["macros"] }
rand = { version = "0.8", features = ["min_const_gen"] }
rand_distr = "0.4"
rayon = "1.8"
rusty-leveldb = "3"
serde = { version = "1.0", features = ["derive"] }
serde-big-array = "0"
serde_derive = "1"
serde_json = "1.0"
emojihash-rs = "0.2"
get-size = { version = "^0.1.4", features = ["derive"] }
keccak = "0.1.4"

[[bench]]
name = "tip5"
harness = false

[[bench]]
name = "ntt_forward"
harness = false

[[bench]]
name = "lagrange_interpolation"
harness = false

[[bench]]
name = "inverses"
harness = false

[[bench]]
name = "merkle_tree"
harness = false

[[bench]]
name = "merkle_tree_authenticate"
harness = false

[[bench]]
name = "merkle_tree_auth_structure_size"
harness = false

[[bench]]
name = "zerofier"
harness = false
